/**
 * Name: common; 
 * Author: ThomasYang;
 * Date: 2018/11/18;
 * Description: OnStepX Common Style;
 **/

* { user-select: element; -webkit-tap-highlight-color: transparent; word-break: break-word; box-sizing: border-box; }
html, body { height: 100%; width: 100%; touch-action: none; font-size: 16px; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; }
body {font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; }
ul, ol, li { list-style: none; }
button { border: none; }

::-webkit-input-placeholder { color:#c2c2c2;}
:-moz-placeholder { color:#c2c2c2; }
::-moz-placeholder { color:#c2c2c2; }


/* 定义公共主题按钮样式，用于主题切换 */
.header{background: #1D2D4D;color: #ffffff}
/* 头部菜单激活颜色 */
.header-bar-active:hover{background: #0F1A32;color: #0BBA6B} 
/* 头部菜单选中颜色 */
.header-bar-select{background: #0F1A32;color: #0BBA6B} 
/* 左侧导航菜单选中颜色 */
.nav-left-active{background: #0BBA6B;color: #ffffff;}
/* 项目通用颜色 */
/* 字体 */
.common-font-color-success{color: #0BBA6B}
.common-font-color-waring{color: #E6A23C}
.common-font-color-danger{color: #F56C6C}
.common-font-color-info{color: #909399}
/* 背景 */
.common-bg-color-success{background-color: #0BBA6B}
.common-bg-color-waring{background-color: #E6A23C}
.common-bg-color-danger{background-color: #F56C6C}
.common-bg-color-info{background-color: #909399}



/* 通用表格Table样式 统一 */
/* head样式 */
.el-table tr>th{background-color: #F5F8FA !important;color:#7F8FA4;padding-top: 0.5313rem !important;padding-bottom: 0.5313rem !important;}
/* row样式 */
.el-table tr>td{padding-top: 0.375rem !important;padding-bottom: 0.375rem !important;height: 40px;}
.el-row-skiprow{background-color: #F5F8FA !important;}
/* 滚动条的宽度 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* //滚动条的滑块 */
::-webkit-scrollbar-thumb {
  background-color: rgba(144,147,153,.3);
  border-radius: 4px;
}
 /* IE下公共滚动条样式 */
div{
  scrollbar-arrow-color: rgba(144,147,153,.3);
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: rgba(144,147,153,.3);
  /*滚动条整体颜色*/
  scrollbar-highlight-color: rgba(144,147,153,.3);
  /*滚动条阴影*/
  scrollbar-shadow-color: rgba(144,147,153,.3);
  /*滚动条轨道颜色*/
  scrollbar-track-color: rgba(144,147,153,.3);
}